body{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(228, 255, 241);
}

h1{
    text-align: end;
}
h2{
    text-align: right;
}

.cor{
    color: rgb(255, 0, 0);
}

.img20{
    height: auto;
    width: 50%;
}